.title {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

.char {
    margin: .1em;
    height: 2em;
    width: 1em;
    background-color: blue;
    font-family: Montserrat, sans-serif;
    font-size: 5em;
    text-align: center;
    line-height: 2em;
    float: left;
}

.blur {
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

.brightness {
    -webkit-filter: brightness(1.5);
    filter: brightness(1.5);
}

.contrast {
    -webkit-filter: contrast(2);
    filter: contrast(2);
}

.drop-shadow {
    -webkit-filter: drop-shadow(5px 5px 3px rgba(0,0,0,0.7));
    filter: drop-shadow(5px 5px 3px rgba(0,0,0,0.7));
}

.grayscale {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.hue-rotate {
    -webkit-filter: hue-rotate(45deg);
    filter: hue-rotate(45deg);
}
